* {
	box-sizing: border-box;
	/* font-family: 'Cinzel Decorative', cursive; */
}

html {
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-image: url(stas-ovsky-359846.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.main-title {
	text-align: center;
	font-size: 40px;
	text-shadow: 2px 2px #0a1612;
}

nav {
	height: 60px;
	position: relative;
}

.navbar {
	width: 100%;
	height: 40px;
	background: #0a1612;
	cursor: point;
}

.navb a {
	text-decoration: none;
	padding: 12px 10px;	
} 

h1, h2, .nav-logo {
	font-family: 'Cinzel Decorative', cursive;
	color:#f7ce3e;
}

.new-entry-page, .edit-entry-display {
	display: block;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

label {
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
	overflow: hidden;
}

li {
    float: left;
}

.nav-link {
	display: block;
	padding: 8px;
	text-decoration: none;
	color:#c5c1c0;
}

a:hover {
	color: white;
}

.nav-logo {
	padding: 12px;
}

.nav-logo-click {
	color:#f7ce3e;
}

.entry-display {
	padding: 10px;
	text-align: center;
	color: white;
	text-shadow: 1px 1px #0a1612;

}

.all-entries-title, .new-entry-title {
	text-align: center;
}

footer {
	text-align: center;
	position: absolute;
	bottom:0;
	width:100%;
	background:#0a1612;
	position: fixed;
}

.about {
	color: white;
}

.by {
	color: 	#c5c1c0;
	margin: 4px;
}

.about {
	text-align: center;
	padding-top: 60px;
	text-shadow: 1px 1px #0a1612;
	font-weight: bold;
}


.card {
    /* width: 100%;
    height: 100%; */
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    background: rgba(150, 146, 146, 0.3);
	z-index: -1;
	border-radius: 5px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 40%;

}

  

.hidden {
    display: none;
} 

