* {
    box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
}

nav {
	height: 60px;
	position: relative;
}

h1, h2, .nav-logo {
    font-family: 'Cinzel Decorative', cursive;
}

.form {
	display: block;
	/* position: absolute; */
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
	display: block;
    padding: 8px;
}

.nav-logo {
	padding: 8px;

}

.entries-display {
	padding: 10px;
	text-align: center;
}

.all-entries-title {
	text-align: center;
}






























.hidden {
    display: none;
}